html{
    font-family: 'Outfit', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
.topnav {
    background-color: #D5DBDB;
    overflow: hidden;
  }
 .topnav a {
    float: left;
    display: block;
    color: #A5364B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
  }
 .topnav a:hover {
    background-color: #A5364B;
    color: #fff;
  }
 .topnav a.active {
    background-color: #A5364B;
    color: #fff;
  }
 .topnav .icon {
    display: none;
  }
  .menu{border: 2px dotted #A5364B;}
.logo{
    font-size: 30px;
    color: #A5364B;
    font-weight: bold;
    vertical-align: middle;
}
.banner img{
    width: 100%;
}
.recipes{
  width: 100%;
  align-items: center;
  text-align: center;
}
.recipe-category{
  max-width: 31%;
  background-color: #fff;
  margin-left: 1px;
  margin-right: 1px;
  display: inline-block;
  border-radius: 5px;
  min-height: 350px;
  color: #A5364B;
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}
.recipe-category img{
  height: 300px;
  width: 100%;
}
section#recipe{
  width: 100%;
}
section#recipe::after{
  clear: both;
}
.recipe-img {
  width: 40%;
  float: left;
  height: 500px;
  background-color: khaki;
}
.recipe-introduction {
  text-align: center;
  color: #A5364B;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 0px;
}
.recipe-article{
  width: 60%;
  float: right;
  height: 500px;
  background-color: #F8E3E7;
  font-size: 13px;
  text-align: justify;
}
.recipe-article p{
  padding: 20px;
}
.recipe-category:hover{
  background-color: #A5364B;
  color: #fff;
}
.recipe-title {
  text-align: center;
  color: #A5364B;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 0px;
}
.float-left{
    float: left;
}
.float-right{
  float: right;
}
.clear-float{
  clear: both;
}
section {
  margin-bottom: 20px;
}
#catchphrase {
  float: center;
  display: block;
  color: #A5364B;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}
.line-break {
  clear: both;
  height:20px;
}
.ingredients {
  margin-left: 5px;
}
.how-to-do {
  margin-left: 5px;
}

.fcf-body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #A5364B;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea.fcf-form-control {
    font-family: 'Outfit', Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#fcf-form {
  display: block;
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #A5364B;
    border-color: #A5364B;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #A5364B;
    border-color: #A5364B;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #A5364B;
    border-color: #fff;
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}
.footer-icon {
  margin: 5px;
  font-size: 21px;
}

footer{
  text-align: center;
  font-size: 18px;
  background-color: #D5DBDB;
  color: #A5364B;
  height: 20px;
  padding: 20px;
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
